<div class="container">
  <div style="text-align: center; margin: 3%"><h2>Registro de Entrevista</h2></div>
  <div style="text-align: center">
    <form [formGroup]="form" (submit)="aceptar()">
      <mat-form-field class="example-full-width">
        <mat-label>ID de Recomendación</mat-label>
        <input matInput placeholder="Mario" formControlName="recomendacion" />
        <mat-error>
          @if (form.get('recomendacion')?.hasError('required')) {
            Ingrese una recomendación asociada!!
          }          
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Fecha de Registro</mat-label>
        <input matInput [matDatepicker]="pickerRegistro" formControlName="fecha" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="pickerRegistro"></mat-datepicker-toggle>
        <mat-datepicker #pickerRegistro></mat-datepicker>
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
        <mat-label>Tema Tratado</mat-label>
        <input matInput placeholder="" formControlName="tema" />
      </mat-form-field>
      <br/>
      <mat-form-field>
        <mat-label>Comentarios</mat-label>
        <textarea matInput formControlName="comentarios"></textarea>
      </mat-form-field>
      <br />
      <div>
        <button matButton="elevated">Registrar</button>
      </div>
    </form>
  </div>
</div>


