<div class="container">
    <div style="text-align: center; margin: 3%"><h2>Registro de Test</h2></div>
    <div style="text-align: center">
      <form [formGroup]="form" (submit)="aceptar()">
        <mat-form-field class="example-full-width">
          <mat-label>ID Usuario</mat-label>
          <input matInput type="number" formControlName="idUsuario" />
          <mat-error>
            @if (form.get('idUsuario')?.hasError('required')) {
              ID del usuario es obligatorio
            }
          </mat-error>
        </mat-form-field>
        <br />
  
        <mat-form-field>
          <mat-label>Fecha del Test</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="fecha" />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error>
            @if (form.get('fecha')?.hasError('required')) {
              Fecha es obligatoria
            }
          </mat-error>
        </mat-form-field>
        <br />
  
        <mat-form-field class="example-full-width">
          <mat-label>Estado Emocional</mat-label>
          <mat-select formControlName="estado">
            <mat-option value="Deprimido">Deprimido</mat-option>
            <mat-option value="Ansioso">Ansioso</mat-option>
            <mat-option value="Estable">Estable</mat-option>
            <mat-option value="Satisfactorio">Satisfactorio</mat-option>
            <mat-option value="Óptimo">Óptimo</mat-option>
          </mat-select>
          <mat-error>
            @if (form.get('estado')?.hasError('required')) {
              El estado emocional es obligatorio
            }
          </mat-error>
        </mat-form-field>
        <br />
  
        <mat-form-field class="example-full-width">
          <mat-label>Notas</mat-label>
          <textarea matInput formControlName="notas"></textarea>
        </mat-form-field>
        <br />
  
        <mat-form-field class="example-full-width">
          <mat-label>Puntaje (0 - 20)</mat-label>
          <input matInput type="number" formControlName="puntaje" />
          <mat-error>
            @if (form.get('puntaje')?.hasError('required')) {
              Puntaje es obligatorio
            }
            @if (form.get('puntaje')?.hasError('min') || form.get('puntaje')?.hasError('max')) {
              El puntaje debe estar entre 0 y 20
            }
            
          </mat-error>
        </mat-form-field>
  
        <div>
          <button matButton="elevated">Registrar</button>
        </div>
      </form>
    </div>
  </div>