<div class="container">
    <h2 style="text-align: center">Lista de Detalles de Recomendaciones</h2>
    <div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
        <ng-container matColumnDef="c1">
          <th mat-header-cell *matHeaderCellDef>ID Recomendaciones</th>
          <td mat-cell *matCellDef="let element">{{ element.idRecomendaciones}}</td>
        </ng-container>
  
        <ng-container matColumnDef="c2">
          <th mat-header-cell *matHeaderCellDef>ID Usuario</th>
          <td mat-cell *matCellDef="let element">{{ element.idUsuario }}</td>
        </ng-container>
  
        <ng-container matColumnDef="c3">
          <th mat-header-cell *matHeaderCellDef>Fecha de envio</th>
          <td mat-cell *matCellDef="let element">{{ element.FechaEnvio }}</td>
        </ng-container>
  
        <ng-container matColumnDef="c4">
          <th mat-header-cell *matHeaderCellDef>Respuesta</th>
          <td mat-cell *matCellDef="let element">{{ element.respuesta }}</td>
        </ng-container>
  
        <ng-container matColumnDef="c5">
          <th mat-header-cell *matHeaderCellDef>Observación</th>
          <td mat-cell *matCellDef="let element">{{ element.observacion }}</td>
        </ng-container>
  
        <ng-container matColumnDef="c6">
          <th mat-header-cell *matHeaderCellDef>Editar</th>
          <td mat-cell *matCellDef="let element">
            <button matButton (click)="editar(element)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="c7">
          <th mat-header-cell *matHeaderCellDef>Eliminar</th>
          <td mat-cell *matCellDef="let element">
            <button matButton (click)="eliminar(element.idDetalleTest)" class="btn-eliminar">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <br />
    <!-- <button matButton="elevated" routerLink="/detallestest/nuevo">Nuevo Detalle</button> -->
  </div>