<div class="container-form">
  <h2>Registro de Usuario</h2>

  <form [formGroup]="form" (submit)="aceptar()">
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Nombre de Usuario</mat-label>
        <input matInput placeholder="Mario" formControlName="nombre" />
        <mat-error>
          @if (form.get('nombre')?.hasError('required')) {
            ¡El nombre de usuario es obligatorio!
          }
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Correo</mat-label>

        <input matInput placeholder="mario@example.com" formControlName="correo" />
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>

        <input matInput type="password" formControlName="contrasenia" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Rol</mat-label>

        <mat-select formControlName="Rol">
          @for (food of roles; track food) {
            <mat-option [value]="food.value">{{ food.viewValue }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Fecha de Registro</mat-label>
        <input
          matInput
          readonly="true"
          [min]="minDate"
          [max]="maxDate"
          [matDatepicker]="pickerRegistro"
          formControlName="registro"
        />
        <mat-datepicker-toggle matSuffix [for]="pickerRegistro"></mat-datepicker-toggle>
        <mat-datepicker #pickerRegistro></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Fecha de Nacimiento</mat-label>
        <input matInput [matDatepicker]="pickerNaciU" formControlName="NaciU" />
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="pickerNaciU"></mat-datepicker-toggle>
        <mat-datepicker #pickerNaciU></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Nacimiento de Adolescente</mat-label>
        <input matInput [matDatepicker]="pickerNaciA" formControlName="NaciA" />
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="pickerNaciA"></mat-datepicker-toggle>
        <mat-datepicker #pickerNaciA></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Género</mat-label>
        <mat-select formControlName="genero">
          @for (food of generos; track food) {
            <mat-option [value]="food.value">{{ food.viewValue }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Intereses</mat-label>
        <textarea
          matInput
          formControlName="intereses"
          placeholder="Ej. Deportes, Lectura..."
        ></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Cantidad de Hijos</mat-label>
        <input matInput type="number" formControlName="cantidad" />
      </mat-form-field>
    </div>

    <div class="form-actions">
      <button mat-raised-button type="submit" class="btn-registrar">Registrar Usuario</button>
    </div>
  </form>
</div>
